<div class="container">
  <section class="WelcomeQuiz bg-light p-5 border my-5">
    <h2 class="fw-bold">Welcome to Quiz Test App</h2>
    <p>This quiz contains total 10 question. Each question hold 10 points</p>
    <h3 class="fw-bold">Rules:</h3>
    <ul class="mb-4 ps-3">
      <li>Correct Question give you 10 ponts.</li>
      <li>Incorrect Question give you -10 ponts.</li>
      <li>You have 60 Seconds for each question.</li>
      <li>Refressing the page reset the quiz.</li>
    </ul>
    <h4 class="text-success fw-bold mb-4 mt-0">All the Best!!</h4>

    <div class="nameField col-md-5">
      <label for="youName">Enter your name</label>
      <input #yname class="form-control my-2" type="text" id="youName" required>
      <button class="btn btn-primary btn-lg" type="button" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button>
    </div>
  </section>
</div>
